DIRECTUS_URL=https://pirreklam.com.tr/cms
BASE_URL=https://pirreklam.com.tr
ASSETS_URL=https://pirreklam.com.tr/cms/assets
DIRECTUS_GRAPHQL_URL=https://pirreklam.com.tr/cms/graphql
DIRECTUS_STATIC_TOKEN=
DISABLE_CACHE=true
